# create .env and .env.production files in the root directory with these contents
# and copy your secret api keys on the bottom

APP_NAME=Webpack React Tutorial
APP_HOST=http://localhost
ASSETS_SERVER_PORT=8084
SERVER_PORT=8085

#make sure to set ENVIRONMENT to 'production' for prod build
ENVIRONMENT=development
# Mongo DB connection
DB_DATABASE_NAME=sparkjs-home-automation
DB_DATABASE_PORT=27017
WEATHER_API_URL=https://api.openweathermap.org/data/2.5/weather?q=West%20New%20York&units=metric&appid=[api key here]